/* h1 {
  text-align: center;
}
h3,
.listhead {
  text-align: center;
}
textarea#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.line {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  gap: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 52%;
  margin: auto;
  margin-top: 20px;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  gap: 20px;
}
.history-table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}
.history-table th,
.history-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th.one {
  width: 55%;
}
th.two {
  width: 15%;
}
.history-table th {
  background-color: #f4f4f4;
}
button {
  margin-right: 10px;
} */
